/*General style*/
body,html{height:100vh;}
body{
    background: url(images/background.jpg); 
    background-size: cover;

}
#home_header{
    background: url(images/food1.jpg); 
    background-size: cover; 
    background-position: center;
}

h1,h2,h3,h4,h5,li,label{font-family: 'Yusei Magic', sans-serif;}
p,a,input,select,textarea,button{font-family: 'Montserrat', sans-serif;}

/*Home Page*/
#home_header{
    background-color: rgba(255, 255, 255, 0.2);
}

/*Menu Page*/
#menu1{
    background: url(images/collage1.jpg); 
    background-size: contain; 
    background-position:bottom center;
    background-repeat:no-repeat;
}
@media only screen and (max-width:768px){
    #menu1{background:none;}
    
}
@media only screen and (min-width:768px) and (max-width:992px){
    #menu1{
        background: url(images/collage2.jpg);
        background-size: contain; 
        background-position:bottom center;
        background-repeat:no-repeat; 
    }
}
/*Images Page*/
#page1,#page2,#page3,#page4,#contact_section{
    max-width: 500px;
    margin: auto;
}
