@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Yusei+Magic&display=swap');

body,html{height:100vh;}
body{background: url("images/beto-galetto-hN1zEipJ0qc-unsplash.jpg"); }
h1,h2,h3,h4,h5,li,label{font-family: 'Yusei Magic', sans-serif;}
p,a,input,select,textarea,button{font-family: 'Montserrat', sans-serif;}
#proteinSection{background: url("images/ammy123-paifueai-n5-UscRGkxU-unsplash.jpg");}
